<%- include('includes/head.ejs') %>
</head>

<body>

    <!-- TEMPLATE ENGINE EJS -->
    <%- include('includes/navigation.ejs') %>


    <h1>Page not found</h1>

    <%- include('includes/end.ejs') %>