<%- include('includes/head.ejs') %>
</head>

<body>

    <!-- TEMPLATE ENGINE EJS -->
    <%- include('includes/navigation.ejs') %>


    <h1>Page not found</h1>
    <p>try access new page</p>

    <%- include('includes/end.ejs') %>