<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class=" " href="/">SHOP</a></li>
            <li class="main-header__item"><a class=" " href="/admin/add-product">ADD PRODUCT</a></li>
        </ul>
    </nav>
</header>