<%- include('../includes/head.ejs') %>
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="grid">
                <h1>Product Detail</h1>
        </div>

    </main>

    <%- include('../includes/end.ejs') %>