
header
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
body
    p Hi #{name},
    p Welcome to Mars, the red planet.
    button Teste de Button
    img(src="./nodejs.png")
    i(class="material-icons") book