<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <div class="row container">
        <img src="https://img.icons8.com/color/32/000000/cloudflare.png"/>
        <b>Equipe Nubank BR</b><br>
        <p>Some Text. Ola diego! bla bla bla bla</p>
    </div>
</body>

</html>